@{
    Layout = null;
}

@model livemenu.Kernel.Account.AccountChangePasswordModel
@using (Ajax.BeginForm(MVC.Account.SavePassword(), new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "account-password-container"
}))
{

    <div class="row">
        <div class="col-sm-12">
            <div class="pull-left ">
                <div class="">Изменение пароля</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 ">
            <div class="form-group form-group-default m-t-20">
                <label>Ваш текущий пароль</label>
                @Html.TextBoxFor(x => x.LastPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LastPassword, String.Empty, new { @class = "error" })
            </div>
            <div class="form-group form-group-default ">
                <label>Введите новый пароль</label>
                @Html.TextBoxFor(x => x.NewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NewPassword, String.Empty, new { @class = "error" })
            </div>
            <div class="form-group form-group-default ">
                <label>Подтвердите новый пароль</label>
                @Html.TextBoxFor(x => x.NewPasswordConfirm, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NewPasswordConfirm, String.Empty, new { @class = "error" })
            </div>

            <button id="change-password" class="btn main-btn m-t-20">Сохранить пароль</button>
        </div>
    </div>
}

