@{
    Layout = MVC.Shared.Views._MenuLayout;
}
<div class="sidebar-menu" id="main-menu">
    <ul class="menu-items">
        <li class="m-t-30 ">
            <a href="@Url.Action(MVC.Projects.Home.Index())" class="">
                <span class="title">Панель</span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-th-list"></i></span>
        </li>
        
		      
        <li class="">
            <a  href="@Url.Action(MVC.Projects.Home.LaunchProject())"  >
                <span class="title">Запустить</span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-rocket"></i></span>
        </li>

        <li class="">
            <a href="@Url.Action(MVC.Projects.Home.Catalog())" class="">
                <span class="title">Проекты</span>
            </a>
            <span class="icon-thumbnail"><i class="fa fa-th"></i></span>
        </li>
        
        <li class="">
            <a href="#">
                <span class="title">Аудитория</span>
                <span class="arrow"></span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-users"></i></span>
            <ul class="sub-menu" style="display: none; overflow: hidden;">
                <li class="">
                    <a href="@Url.Action(MVC.Projects.Users.Roles())">Роли</a>
                    <span class="icon-thumbnail"><i class="fa fa-table"></i></span>
                </li>
                <li class="">
                    <a href="@Url.Action(MVC.Projects.Users.Statuses())">Статусы</a>
                    <span class="icon-thumbnail"><i class="fa fa-table"></i></span>
                </li>
            </ul>
        </li>

        <li class="">
            <a href="#">
                <span class="title">База данных</span>
                <span class="arrow"></span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-database"></i></span>
            <ul class="sub-menu" style="display: none; overflow: hidden;">
                <li class="">
                    <a href="@Url.Action(MVC.Projects.DynamicTables.Index())">Таблицы</a>
                    <span class="icon-thumbnail"><i class="fa fa-table"></i></span>
                </li>
                <li class="">
                    <a href="@Url.Action(MVC.Projects.DynamicColumnCode.Index())">Коды</a>
                    <span class="icon-thumbnail"><i class="fa fa-code"></i></span>
                </li>
            </ul>
        </li>


    </ul>
    <div class="clearfix"></div>
</div>
