@using livemenu.Kernel.Executing
@{
    Layout = MVC.Shared.Views._MenuLayout;
}
<div class="sidebar-menu" id="main-menu">
    <ul class="menu-items">
        <li class="m-t-30 ">
            <a href="@Url.Action(MVC.Market.Home.Index())" class="">
                <span class="title">Панель</span>
            </a>
            <span class="icon-thumbnail"><i class="fa fa-th-list"></i></span>
        </li>
        <li class="">
            <a href="@Url.Action(MVC.Market.Home.WebUni())" class="">
                <span class="title">Платформа</span>
            </a>
            <span class="icon-thumbnail"><i class="fa fa-plus"></i></span>
        </li>

        <li class="">
            <a href="@Url.Action(MVC.Market.Home.Shop())" class="detailed">
                <span class="title">Купить</span>
                <span class="details">Товары и услуги</span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-th"></i></span>
        </li>

        <li class="">
            <a href="@Url.Action(MVC.Market.Home.Shop())" class="">
                <span class="title">Загрузки</span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-download"></i></span>
        </li>


        <li class="m-t-30 ">
            <a href="@Url.Action(MVC.FileManager.Index(LMExecutingType.Market))" class="detailed">
                <span class="title">Файлы</span>
                <span class="details">Управление файлами</span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-cloud"></i></span>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>
