@{
    Layout = null;
    int i = 0;
}
@using livemenu.Helpers
@using livemenu.Kernel.CMS
@model livemenu.Kernel.CMS.StructureModel

@foreach (var item in Model.Items)
{
    
    <div class="form-group WebUni-form-group WebUni-form-group-group">
        <label for="Height" class="col-sm-7 control-label">@item.Name</label>
        <div class="col-sm-5" style="float: right;">
            
        </div>
    </div>
   

    <div class="form-group WebUni-form-group group-structure-item">
        <label for="Height" class="col-sm-8 control-label">Показывать</label>
        <div class="col-sm-4" style="float: right;">
            <div class="checkbox WebUni-checkbox check-success checkbox-circle ">
               @Html.BasicCheckBoxFor(x => x.Items[i].IsVisible,
                   new
                   {
                       onchange="onStructureChanged($(this))",
                       data_id = @item.ID,
                       data_change_type = ChangeGroupStructureType.IsVisible,
                       data_init_plugin = "switchery_internal"
                   })
            </div>
        </div>
    </div>
    <div class="form-group WebUni-form-group group-structure-item" style="padding-bottom: 15px !important">
        <label for="Height" class="col-sm-8 control-label">Свернуть</label>
        <div class="col-sm-4" style="float: right;">
            <div class="checkbox WebUni-checkbox check-success checkbox-circle ">
                @Html.BasicCheckBoxFor(x => x.Items[i].IsCollapse,
                    new
                    {
                        onchange = "onStructureChanged($(this))",
                        data_id = @item.ID,
                        data_change_type = ChangeGroupStructureType.IsCollapsed,
                        data_init_plugin = "switchery_internal"
                    })
            </div>
        </div>
    </div>
    i++;
}


