@{
    Layout = null;

    var confs = Model.CatalogItem.CatalogItemViewGroupConfiguration;
    var groups = confs.ToDictionary(x => (CatalogItemViewGroup)x.ViewGroup, x => x);

    var textgroup = groups.GetConfigurationSafe(CatalogItemViewGroup.CartDataText);
    var textVisible = textgroup.IsVisible ? string.Empty : "hidden";
    var textcollapsed = textgroup.IsCollapse ? "collapsed" : string.Empty;
    var textcollapsein = !textgroup.IsCollapse ? "in" : string.Empty;
}
@using livemenu.Helpers
@using livemenu.Kernel.BWP
@using livemenu.Kernel.CMS
@model livemenu.Common.Entities.Entities.UniCart

@using (Ajax.BeginForm(MVC.CMS.WebUni.CartDataSave(), new AjaxOptions
{
    HttpMethod = "POST",
    //UpdateTargetId = "WebUniLine",
    //InsertionMode = InsertionMode.Replace,

   OnComplete = "OnCatalogItemFormCompleted"
},

new
{
    @class = "form-horizontal ",
}))

{


    <div class="" id="">
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.CatalogItemID)

        <div class="@textVisible vg-view vg-elements flat-panel-group">
            <div class="panel-group vg-panel" data-ciid="@Model.CatalogItemID" data-vg="@CatalogItemViewGroup.CartDataText">
                <div class="panel-heading" role="tab" id="headingOne1">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-target="#vg-@Model.CatalogItemID-view-acc" href="#" aria-expanded="false" aria-controls="collapseOne" class="@textcollapsed">
                            @UniBlockServiceHelper.CatalogItemViewGroupNames[CatalogItemViewGroup.CartDataText]
                        </a>
                    </h4>
                </div>
                <div id="vg-@Model.CatalogItemID-view-acc" class="vg-acc-content collapse @textcollapsein" role="tabpanel" aria-labelledby="headingOne1" aria-expanded="false" style="">
                    <div class="panel-body">
                        <div class="form-group WebUni-form-group WebUni-form-group-group">
                            <label for="Height" class="col-sm-7 control-label">Включить текст</label>
                            <div class="col-sm-5" style="float: right;">
                                <div class="checkbox WebUni-checkbox check-success checkbox-circle ">
                                    @Html.BasicCheckBoxFor(x => x.TextEnabled, new { data_init_plugin = "switchery_internal", onchange = "onVGElementsEnabledChanged($(this))" })
                                </div>
                            </div>
                        </div>


                        <div class="form-group WebUni-form-group">
                            <label for="Height" class="col-sm-7 control-label">При наведении</label>
                            <div class="col-sm-5" style="float: right;">
                                <div class="checkbox WebUni-checkbox check-success ">
                                    @{
                                        var idr = "c" + Model.CatalogItemID + "IsHoverTextEnabled";
                                    }
                                    @Html.BasicCheckBoxFor(x => x.IsHoverTextEnabled, new { id = idr })
                                    <label for="@idr"></label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group WebUni-form-group">
                            <label for="Height" class="col-sm-7 control-label">При включении</label>
                            <div class="col-sm-5" style="float: right;">
                                <div class="checkbox WebUni-checkbox check-success ">
                                    @{
                                        idr = "c" + Model.CatalogItemID + "IsActiveTextEnabled";
                                    }
                                    @Html.BasicCheckBoxFor(x => x.IsActiveTextEnabled, new { id = idr })
                                    <label for="@idr"></label>
                                </div>
                            </div>
                        </div>


                        <ul class="nav nav-tabs nav-tabs-fillup WebUni-vg-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#@Model.CatalogItemID-textdata-before"><span>до наведения</span></a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#@Model.CatalogItemID-textdata-after"><span>при наведении</span></a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#@Model.CatalogItemID-textdata-active"><span>при включении</span></a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="@Model.CatalogItemID-textdata-before">
                                <div class="form-group WebUni-form-group WebUni-form-group-ck">
                                    <div class="col-sm-12">

                                        @Html.TextAreaFor(m => m.Text, new
                                   {
                                       @class = "form-control WebUni-form-element ckeditor_internal-" + Model.ID
                                   })
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="@Model.CatalogItemID-textdata-after">
                                <div class="form-group WebUni-form-group WebUni-form-group-ck">
                                    <div class="col-sm-12">

                                        @Html.TextAreaFor(m => m.HoverText, new
                                   {
                                       @class = "form-control WebUni-form-element ckeditor_internal-" + Model.ID
                                   })
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="@Model.CatalogItemID-textdata-active">
                                <div class="form-group WebUni-form-group WebUni-form-group-ck">
                                    <div class="col-sm-12">

                                        @Html.TextAreaFor(m => m.ActiveText, new
                                   {
                                       @class = "form-control WebUni-form-element ckeditor_internal-" + Model.ID
                                   })
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>

        </div>


    </div>
                                        }
