@{
    Layout = null;
}
@using livemenu.Helpers
@model livemenu.Common.Entities.Entities.UniLeftSideBar

<style>
    .WebUni-unileftsidebar-table th {
        text-align: left;
    }
     .WebUni-table-checkbox {
		 float: left;
         margin: 0;
         height: auto;
         margin-top: -14px !important;
     }
     .WebUni-table-checkbox tbody tr td {
          padding: 10px !important;

     }
</style>

@using (Ajax.BeginForm(MVC.CMS.WebUni.LeftSideBarDataSave(), new AjaxOptions
{
    HttpMethod = "POST",
    //UpdateTargetId = "WebUniLine",
    //InsertionMode = InsertionMode.Replace,

   OnComplete = "OnCatalogItemFormCompleted"
},

new
{
    @class = "form-horizontal ",
}))

{

    <div class="" id="">
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.CatalogItemID)
        <table class="table WebUni-unileftsidebar-table">
            <thead>
                <tr>
                    <th>Поля/Экраны</th>
                    <th>< 768</th>
                    <th>768+</th>
                    <th>992+</th>
                    <th>1200+</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>отображать</td>
                    <td>
                        <div class="" >
                            <div class="checkbox WebUni-checkbox WebUni-table-checkbox check-success ">
                                @{
                                    var idr = "c" + Model.CatalogItemID + "XSIsEnabled";
                                }
                                @Html.BasicCheckBoxFor(x => x.XSIsEnabled, new {id = idr})
                                <label for="@idr"></label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="">
                            <div class="checkbox WebUni-checkbox WebUni-table-checkbox check-success ">
                                @{
                                    idr = "c" + Model.CatalogItemID + "SMIsEnabled";
                                }
                                @Html.BasicCheckBoxFor(x => x.SMIsEnabled, new {id = idr})
                                <label for="@idr"></label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="">
                            <div class="checkbox WebUni-checkbox WebUni-table-checkbox check-success ">
                                @{
                                    idr = "c" + Model.CatalogItemID + "MDIsEnabled";
                                }
                                @Html.BasicCheckBoxFor(x => x.MDIsEnabled, new {id = idr})
                                <label for="@idr"></label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="">
                            <div class="checkbox WebUni-checkbox WebUni-table-checkbox check-success ">
                                @{
                                    idr = "c" + Model.CatalogItemID + "LGIsEnabled";
                                }
                                @Html.BasicCheckBoxFor(x => x.LGIsEnabled, new { id = idr })
                                <label for="@idr"></label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>открыть автоматически

                    <td>
                        <div class="">
                            <div class="checkbox WebUni-checkbox WebUni-table-checkbox check-success ">
                                @{
                                    idr = "c" + Model.CatalogItemID + "XSShowByDefault";
                                }
                                @Html.BasicCheckBoxFor(x => x.XSShowByDefault, new { id = idr })
                                <label for="@idr"></label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="">
                            <div class="checkbox WebUni-checkbox WebUni-table-checkbox check-success ">
                                @{
                                    idr = "c" + Model.CatalogItemID + "SMShowByDefault";
                                }
                                @Html.BasicCheckBoxFor(x => x.SMShowByDefault, new { id = idr })
                                <label for="@idr"></label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="">
                            <div class="checkbox WebUni-checkbox WebUni-table-checkbox check-success ">
                                @{
                                    idr = "c" + Model.CatalogItemID + "MDShowByDefault";
                                }
                                @Html.BasicCheckBoxFor(x => x.MDShowByDefault, new { id = idr })
                                <label for="@idr"></label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="">
                            <div class="checkbox WebUni-checkbox WebUni-table-checkbox check-success ">
                                @{
                                    idr = "c" + Model.CatalogItemID + "LGShowByDefault";
                                }
                                @Html.BasicCheckBoxFor(x => x.LGShowByDefault, new { id = idr })
                                <label for="@idr"></label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>скрыть при смене экрана

                    <td>
                        <div class="">
                            <div class="checkbox WebUni-checkbox WebUni-table-checkbox check-success ">
                                @{
                                    idr = "c" + Model.CatalogItemID + "XSHideOnResolutionChanged";
                                }
                                @Html.BasicCheckBoxFor(x => x.XSHideOnResolutionChanged, new { id = idr })
                                <label for="@idr"></label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="">
                            <div class="checkbox WebUni-checkbox WebUni-table-checkbox check-success ">
                                @{
                                    idr = "c" + Model.CatalogItemID + "SMHideOnResolutionChanged";
                                }
                                @Html.BasicCheckBoxFor(x => x.SMHideOnResolutionChanged, new { id = idr })
                                <label for="@idr"></label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="">
                            <div class="checkbox WebUni-checkbox WebUni-table-checkbox check-success ">
                                @{
                                    idr = "c" + Model.CatalogItemID + "MDHideOnResolutionChanged";
                                }
                                @Html.BasicCheckBoxFor(x => x.MDHideOnResolutionChanged, new { id = idr })
                                <label for="@idr"></label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="">
                            <div class="checkbox WebUni-checkbox WebUni-table-checkbox check-success ">
                                @{
                                    idr = "c" + Model.CatalogItemID + "LGHideOnResolutionChanged";
                                }
                                @Html.BasicCheckBoxFor(x => x.LGHideOnResolutionChanged, new { id = idr })
                                <label for="@idr"></label>
                            </div>
                        </div>
                    </td>
                </tr>
				<tr>
                    <td>скрыть при нажатии вне области

                    <td>
                        <div class="">
                            <div class="checkbox WebUni-checkbox WebUni-table-checkbox check-success ">
                                @{
                                    idr = "c" + Model.CatalogItemID + "XSHideOnClickOutside";
                                }
                                @Html.BasicCheckBoxFor(x => x.XSHideOnClickOutside, new { id = idr })
                                <label for="@idr"></label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="">
                            <div class="checkbox WebUni-checkbox WebUni-table-checkbox check-success ">
                                @{
                                    idr = "c" + Model.CatalogItemID + "SMHideOnClickOutside";
                                }
                                @Html.BasicCheckBoxFor(x => x.SMHideOnClickOutside, new { id = idr })
                                <label for="@idr"></label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="">
                            <div class="checkbox WebUni-checkbox WebUni-table-checkbox check-success ">
                                @{
                                    idr = "c" + Model.CatalogItemID + "MDHideOnClickOutside";
                                }
                                @Html.BasicCheckBoxFor(x => x.MDHideOnClickOutside, new { id = idr })
                                <label for="@idr"></label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="">
                            <div class="checkbox WebUni-checkbox WebUni-table-checkbox check-success ">
                                @{
                                    idr = "c" + Model.CatalogItemID + "LGHideOnClickOutside";
                                }
                                @Html.BasicCheckBoxFor(x => x.LGHideOnClickOutside, new { id = idr })
                                <label for="@idr"></label>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="form-group WebUni-form-group WebUni-form-group-big">
            <label for="Height" class="col-sm-7 control-label">Отображение</label>
            <div class="col-sm-5" style="float: right;">

            </div>
        </div>
                

        <div class="form-group WebUni-form-group">
            <div class="col-sm-7 ">
                @Html.DropDownListFor(m => m.IsVertical, new SelectList(
                    new[]
                    {
                        new { Value = "true", Text = "Вертикальное" },
                        new { Value = "false", Text = "Горизонтальное" },
                    },
                    "Value",
                    "Text",
                    Model.IsVertical),
                    new { @class = "cs-select cs-skin-slide", data_init_plugin = "cs-select" }
                    )
            </div>

            <div class="col-sm-5" style="float: right;">

            </div>
        </div>

		 <div class="form-group WebUni-form-group WebUni-form-group-group">
            <label for="Height" class="col-sm-7 control-label">На телефоне (меньше чем 768px)</label>
            <div class="col-sm-5" style="float: right;">

            </div>
        </div>
		
        <div class="form-group WebUni-form-group">
            <div class="col-sm-7 ">
                @Html.DropDownListFor(m => m.XSMode, new SelectList(
                    new[]
                    {
                        new { Value = 0, Text = "Сдвигать страницу" },
                        new { Value = 1, Text = "Сжимать страницу" },
                        new { Value = 2, Text = "Накладывать на страницу" },
                    },
                    "Value",
                    "Text",
                    Model.XSMode),
                    new { @class = "cs-select cs-skin-slide", data_init_plugin = "cs-select" }
                    )
            </div>

            <div class="col-sm-5" style="float: right;">

            </div>
        </div>

		
		
		<div class="form-group WebUni-form-group WebUni-form-group-group">
            <label for="Height" class="col-sm-7 control-label">На планшете (768px и выше)</label>
            <div class="col-sm-5" style="float: right;">

            </div>
        </div>
		
        <div class="form-group WebUni-form-group">
            <div class="col-sm-7 ">
                @Html.DropDownListFor(m => m.SMMode, new SelectList(
                    new[]
                    {
                        new { Value = 0, Text = "Сдвигать страницу" },
                        new { Value = 1, Text = "Сжимать страницу" },
                        new { Value = 2, Text = "Накладывать на страницу" },
                    },
                    "Value",
                    "Text",
                    Model.SMMode),
                    new { @class = "cs-select cs-skin-slide", data_init_plugin = "cs-select" }
                    )
            </div>

            <div class="col-sm-5" style="float: right;">

            </div>
        </div>
		
		<div class="form-group WebUni-form-group WebUni-form-group-group">
            <label for="Height" class="col-sm-7 control-label">На ноутбуке (992px и выше)</label>
            <div class="col-sm-5" style="float: right;">

            </div>
        </div>
		
        <div class="form-group WebUni-form-group">
            <div class="col-sm-7 ">
                @Html.DropDownListFor(m => m.MDMode, new SelectList(
                    new[]
                    {
                        new { Value = 0, Text = "Сдвигать страницу" },
                        new { Value = 1, Text = "Сжимать страницу" },
                        new { Value = 2, Text = "Накладывать на страницу" },
                    },
                    "Value",
                    "Text",
                    Model.MDMode),
                    new { @class = "cs-select cs-skin-slide", data_init_plugin = "cs-select" }
                    )
            </div>

            <div class="col-sm-5" style="float: right;">

            </div>
        </div>

		<div class="form-group WebUni-form-group WebUni-form-group-group">
            <label for="Height" class="col-sm-7 control-label">На десктопе (1200px и выше)</label>
            <div class="col-sm-5" style="float: right;">

            </div>
        </div>
		
        <div class="form-group WebUni-form-group">
            <div class="col-sm-7 ">
                @Html.DropDownListFor(m => m.LGMode, new SelectList(
                    new[]
                    {
                        new { Value = 0, Text = "Сдвигать страницу" },
                        new { Value = 1, Text = "Сжимать страницу" },
                        new { Value = 2, Text = "Накладывать на страницу" },
                    },
                    "Value",
                    "Text",
                    Model.LGMode),
                    new { @class = "cs-select cs-skin-slide", data_init_plugin = "cs-select" }
                    )
            </div>

            <div class="col-sm-5" style="float: right;">

            </div>
        </div>

    </div>

}
