@{
    Layout = null;
}
@using livemenu.Helpers
@model livemenu.Common.Entities.Entities.UniPhoto

@using (Ajax.BeginForm(MVC.CMS.WebUni.PhotoDataSave(), new AjaxOptions
{
    HttpMethod = "POST",
    //UpdateTargetId = "WebUniLine",
    //InsertionMode = InsertionMode.Replace,

   OnComplete = "OnCatalogItemFormCompleted"
},

new
{
    @class = "form-horizontal ",
}))

{

    <div class="" id="">
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.CatalogItemID)

        <div class="form-group WebUni-form-group WebUni-form-group-big">

            <div class="row image-selector-wrapper">
                <div class="col-sm-6 col-md-6" style="width: 150px; height: 100px; border-style: solid; border-width: 1px; border-color: #CCCCCC; border-radius: 0px; text-align: center; ">


                    <a onclick="OpenFM('@Url.Action(MVC.FileManager.Modal())', $(this), onImageSelected)">
                        @{
                            var imageUrlModel = Model.ImageUrl;
                            var imageUrl = string.IsNullOrEmpty(imageUrlModel) ? Url.Content("~/BWP/Resources/Images/empty_image.png") : Url.Content("~/" + imageUrlModel);
                        }
                        @Html.HiddenFor(m => m.ImageUrl, new { @class = "imgItem" })

                        <img style="max-height: 98px; max-width: 148px;  " alt="нет" src="@imageUrl" />
                    </a>



                </div>

                <div class="col-sm-6 col-md-6">
                    <div class="row">
                        <div class=" btn-group col-sm-9">
                            <a onclick="OpenFM('@Url.Action(MVC.FileManager.Modal())', $(this), onImageSelected)" class="btn btn-default">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a onclick="imageEditDelete($(this))" class="btn btn-danger">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="row sm-p-t-20">
                        <p class="bold image-wrapper-text">@Model.ImageUrl</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

}
