@{
    Layout = null;
}
@using livemenu.Helpers
@model livemenu.Common.Entities.Entities.UniSearchFilter

@using (Ajax.BeginForm(MVC.CMS.WebUni.SearchFilterDataSave(), new AjaxOptions
{
    HttpMethod = "POST",
    //UpdateTargetId = "WebUniLine",
    //InsertionMode = InsertionMode.Replace,

   OnComplete = "OnCatalogItemFormCompleted"
},

new
{
    @class = "form-horizontal ",
}))

{

    <div class="" id="">
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.CatalogItemID)

        <div class="form-group WebUni-form-group WebUni-form-group-group">
            <label for="Height" class="col-sm-7 control-label">Элемент</label>
            <div class="col-sm-5" style="float: right;">
                <div class="checkbox WebUni-checkbox check-success checkbox-circle ">

                </div>
            </div>
        </div>

        <div class="form-group WebUni-form-group WebUni-form-group-group">

            <div class="col-sm-12">

                <input type="hidden" class="select2-offscreen" id="CatalogItemTargetIDHDN" style="width:100%" value="@Model.CatalogItemTargetID" />
                <input type="text" id="CatalogItemTargetID" class='tag-input full-width' name="CatalogItemTargetID" value="@Model.CatalogItemTargetID" />


            </div>
        </div>


        <div class="form-group WebUni-form-group WebUni-form-group-big">
            <label for="FiltersEnabled" class="col-sm-7 control-label">Группа фильтров</label>
            <div class="col-sm-5" style="float: right;">
                
            </div>
        </div>
        <div class="form-group WebUni-form-group WebUni-form-group-group">
            <div class="col-sm-12">
                <input type="hidden" class="select2-offscreen" id="TagGroupIDHDN" style="width: 100%" value="@Model.TagGroupID" />
                <input type="text" id="TagGroupID" class='tag-input full-width' name="TagGroupID" value="@Model.TagGroupID" />
            </div>
        </div>


        <div class="form-group WebUni-form-group WebUni-form-group-big">
            <label for="Height" class="col-sm-7 control-label">Группа</label>
            <div class="col-sm-5" style="float: right;">
                @Html.TextBoxFor(m => m.Group, new
                    {
                        @class = "input-sm form-control WebUni-form-element",
                        placeholder = "не задано"
                    })
            </div>
        </div>


        <div class="form-group WebUni-form-group WebUni-form-group-group">
            <label for="Height" class="col-sm-7 control-label">Тип выбора</label>
            <div class="col-sm-5" style="float: right;">

            </div>
        </div>
        <div class="form-group WebUni-form-group">
            <div class="col-sm-7 ">
                @Html.DropDownListFor(m => m.IsMultiple, new SelectList(
                    new[]
                    {
                        new { Value = "true", Text = "Множественный" },
                        new { Value = "false", Text = "Единичный" },
                    },
                    "Value",
                    "Text",
                    Model.IsVertical),
                    new { @class = "cs-select cs-skin-slide", data_init_plugin = "cs-select" }
                    )
            </div>

            <div class="col-sm-5" style="float: right;">

            </div>
        </div>


        <div class="form-group WebUni-form-group WebUni-form-group-group">
            <label for="CustomMode" class="col-sm-7 control-label">Режим пользовательских фильтров</label>
            <div class="col-sm-5" style="float: right;">
                <div class="checkbox WebUni-checkbox check-success checkbox-circle ">
                    @Html.BasicCheckBoxFor(x => x.CustomMode, new { data_init_plugin = "switchery_internal" })
                </div>
            </div>
        </div>


        <div class="form-group WebUni-form-group WebUni-form-group-group">
            <label for="Height" class="col-sm-7 control-label">Отображение</label>
            <div class="col-sm-5" style="float: right;">

            </div>
        </div>
        <div class="form-group WebUni-form-group">
            <div class="col-sm-7 ">
                @Html.DropDownListFor(m => m.IsVertical, new SelectList(
                    new[]
                    {
                        new { Value = "true", Text = "Вертикальное" },
                        new { Value = "false", Text = "Горизонтальное" },
                    },
                    "Value",
                    "Text",
                    Model.IsVertical),
                    new { @class = "cs-select cs-skin-slide", data_init_plugin = "cs-select" }
                    )
            </div>

            <div class="col-sm-5" style="float: right;">
               
            </div>
        </div>

        <div class="form-group WebUni-form-group WebUni-form-group-group">
            <label for="ActivateFirstFilterByDefault" class="col-sm-7 control-label">Активировать фильтр при запуске</label>
            <div class="col-sm-5" style="float: right;">
                <div class="checkbox WebUni-checkbox check-success checkbox-circle ">
                    @Html.BasicCheckBoxFor(x => x.ActivateFirstFilterByDefault, new { data_init_plugin = "switchery_internal" })
                </div>
            </div>
        </div>
       

        <script>
           

        </script>


    </div>

}
