@using livemenu.Kernel.Executing
@{
    Layout = MVC.Shared.Views._MenuLayout;
}
<div class="sidebar-menu" id="main-menu">
    <ul class="menu-items">
		<li class="m-t-30 ">
            <a href="@Url.Action(MVC.Partner.Home.Index())" class="">
                <span class="title">Панель</span>
            </a>
            <span class="icon-thumbnail"><i class="fa fa-th-list"></i></span>
        </li>

		<li class="">
            <a href="@Url.Action(MVC.Partner.Home.List())" class="">
                <span class="title">Партнеры</span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-share-alt"></i></span>
        </li>		
		
		
		<li class="">
            <a href="@Url.Action(MVC.Partner.Home.Add())" >
                <span class="title">Предложить</span>
				</a>
            <span class="icon-thumbnail "><i class="fa fa-plus"></i></span>
        </li>
				
		<li class="">
            <a href="@Url.Action(MVC.Partner.Home.Search())" >
                <span class="title">Найти</span>
				</a>
            <span class="icon-thumbnail "><i class="fa fa-search"></i></span>
        </li>
		

        <li class="m-t-30 ">
            <a href="@Url.Action(MVC.FileManager.Index(LMExecutingType.Partner))" class="detailed">
                <span class="title">Файлы</span>
                <span class="details">Управление файлами</span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-cloud"></i></span>
		</li>	
    
    </ul>
    <div class="clearfix"></div>
</div>
