@using livemenu.Kernel.Executing
@{
    Layout = MVC.Shared.Views._MenuLayout;
}
<div class="sidebar-menu" id="main-menu">
    <ul class="menu-items">
        <li class="m-t-30 ">
            <a href="@Url.Action(MVC.CRM.Home.Index())"  class="">
                <span class="title">Панель</span>
            </a>
            <span class="icon-thumbnail"><i class="fa fa-th-list"></i></span>
        </li>
        
        <li class="">
            <a href="@Url.Action(MVC.CRM.PriceList.Index())"  class="">
                <span class="title">Прайс-лист</span>
            </a>
            <span class="icon-thumbnail"><i class="fa fa-rub"></i></span>
        </li>
        

        <li class="">
            <a href="#" >
                <span class="title">Заказы</span>
                <span class="arrow"></span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-shopping-cart"></i></span>
			<ul class="sub-menu" style="display: none; overflow: hidden;">
                <li class="">
					<a href="@Url.Action(MVC.CRM.Order.Index())"  class="">
					<span class="title">Поступило</span>
					</a>
					<span class="icon-thumbnail"><i class="fa fa-arrow-right"></i></span>
				</li>
 				<li class="">
                    <a href="@Url.Action(MVC.CRM.Order.Index())" >Отказы</a>
                    <span class="icon-thumbnail"><i class="fa fa-times"></i></span>
                </li>

				<li class="">
					<a href="@Url.Action(MVC.CRM.OrderStatus.Index())" >
					<span class="title">Статусы</span>
					</a>
					<span class="icon-thumbnail "><i class="fa fa-exclamation"></i></span>
				</li>

			
				
            </ul>
        </li>		
		

       <li class="">
            <a href="#" >
                <span class="title">Продажи</span>
                <span class="arrow"></span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-line-chart"></i></span>
			<ul class="sub-menu" style="display: none; overflow: hidden;">
                <li class="">
					<a href="@Url.Action(MVC.CRM.Order.Index())"  class="">
					<span class="title">Выполнено</span>
					</a>
					<span class="icon-thumbnail"><i class="fa fa-check"></i></span>
				</li>
 				<li class="">
                    <a href="@Url.Action(MVC.CRM.Order.Index())" >В обработке</a>
                    <span class="icon-thumbnail"><i class="fa fa-clock-o"></i></span>
                </li>
            </ul>
        </li>		

		<li class="">
            <a href="#" >
                <span class="title">Клиенты</span>
                <span class="arrow"></span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-exchange"></i></span>
			<ul class="sub-menu" style="display: none; overflow: hidden;">
				<li class="">
					<a href="@Url.Action(MVC.CRM.Clients.Index())"  class="">
					<span class="title">База</span>
					</a>
					<span class="icon-thumbnail"><i class="fa fa-list"></i></span>
				</li>

				@*<li class="">
					<a href="#"  class="">
					<span class="title">Документы</span>
					</a>
					<span class="icon-thumbnail"><i class="fa fa-folder"></i></span>
				</li>*@
 			</ul>
        </li>

		<li class="">
            <a href="@Url.Action(MVC.CRM.Order.Index())" class="">
                <span class="title">Статистика</span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-pie-chart"></i></span>
        </li>		
       

  
		
		
		
        <li class="m-t-30 ">
            <a href="@Url.Action(MVC.FileManager.Index(LMExecutingType.CRM))"  class="detailed">
                <span class="title">Файлы</span>
                <span class="details">Управление файлами</span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-cloud"></i></span>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>
